<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListsIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC16A874199932A600EB26F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCF5D60D1992AC3D0027AB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCF5D6311992AC3E0027AB49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
